@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary: #0a0e27;
  --reddish: #cb0a31;
  --background: #f9fdff;
  --skyblue: #82cfe5;

  --radius: 16px;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --shadow: 3px 10px 33px rgba(0, 0, 0, 0.15);

  /* Shades of Gray */
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: var(--background);
}
.container {
  width: 80%;
  display: flex;
  align-items: center;
  z-index: -1;
  height: 90vh;
  /* padding: 30px; */
  background-color: #f8fdff;
  margin: 30px auto;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
}

.left-content {
  position: relative;
  width: 60%;
  height: 100%;
  padding: 33px;
}
.right-content {
  width: 40%;
  padding: 33px;
  background-color: #fff;
  height: 100%;
}
.right-content .content {
  margin-top: 50px;
}
.circles {
  height: 90vmin;
  left: 40px;
  top: -50px;
  z-index: 1;
  position: absolute;
  width: 90vmin;

  > div {
    animation: growAndFade 10s infinite ease-out;
    background-color: #5cceff;
    border-radius: 50%;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
  }

  .circle1 {
    animation-delay: 1s;
  }
  .circle2 {
    animation-delay: 2s;
  }
  .circle3 {
    animation-delay: 3s;
  }
}

@keyframes growAndFade {
  0% {
    opacity: 0.25;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-container img {
  margin-left: 400px;
  z-index: 1;
  margin-top: -17px;
}
.right-content .header {
  text-align: center;
}
.right-content > div p {
  margin-top: var(--spacing);
  color: var(--gray-500);
}
form {
  margin-top: 30px;
}
.form-row {
  margin-top: 30px;
}
.label {
  color: var(--gray-600);
  position: relative;
}
.label span {
  position: absolute;
  top: -15px;
  left: 20px;
  background-color: #fff;
  padding: 5px 8px;
}
.input-field input {
  width: 100%;
  border-radius: var(--radius);
  border: 1px solid #c2c2c2;
  height: 54px;
  padding: 8px 12px;
}
.input-field input:focus {
  outline: 1px solid #f8fdff;
}
a {
  color: var(--gray-300);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}
#submit {
  width: 100%;
  padding: 8px 12px;
  height: 54px;
  border: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  border-radius: var(--radius);
  background: linear-gradient(222deg, #86dbff 11.5%, #47C8FF 95.4%);
}

.lines {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-500);
  font-size: 14px;
}
.line {
  background-color: var(--gray-300);
  width: 40%;
  margin: auto;
  height: 1px;
}
.icons {
  width: 30%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  background-color: white;
  justify-content: space-between;
  width: 45px;
  padding: 5px;
  margin: auto;
}
svg {
  flex-shrink: 0;
  fill: #fff;
  border-radius: 100%;
  box-shadow: var(--shadow);
}
